<configuration>
  <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>application.log</file>

    <encoder>
      <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.broadinstitute.dsp.workbench.hamm" level="INFO" additivity="false">
    <appender-ref ref="FILE"/>
  </logger>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
    <param name="Threshold" value="INFO"/>
    <encoder>
      <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="Sentry"/>
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>