<configuration>
<!--  The following line suppresses ch.qos log in the beginning when service starts up -->
<!--  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />-->
  <property name="WORKING_DIRECTORY" value="/work" />

  <appender name="FILE" class="ch.qos.logback.classic.AsyncAppender">
    <file>${WORKING_DIRECTORY}/.welder.log</file>

    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <fieldNames>
        <level>severity</level>
      </fieldNames>
    </encoder>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>${WORKING_DIRECTORY}/welder.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 50MB -->
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 3 days' worth of history -->
      <maxHistory>3</maxHistory>
    </rollingPolicy>
  </appender>

<!--  <logger name="org.broadinstitute.dsp.workbench.welder" level="INFO" additivity="false">-->
<!--    <appender-ref ref="FILE"/>-->
<!--  </logger>-->

<!--  <logger name="org.http4s.server.blaze.Http1ServerStage" level="INFO" additivity="false">-->
<!--    <appender-ref ref="FILE"/>-->
<!--  </logger>-->

  <appender name="CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
    <param name="Threshold" value="INFO"/>
    <encoder>
      <pattern>%d{dd/MM/yyyy HH:mm:ss.SSS} %-5level %logger{30} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
